USE [master]
GO

-- Drop database if it exists (for clean reinstall)
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'TradingApp')
BEGIN
    ALTER DATABASE [TradingApp] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [TradingApp];
END
GO

-- Create database (SQL Server uses default file locations)
CREATE DATABASE [TradingApp]
GO

USE [TradingApp]
GO

/****** Object:  Table [dbo].[DeadLetterLogs] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeadLetterLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[ClientOrderId] [uniqueidentifier] NOT NULL,
	[MessageBody] [nvarchar](max) NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[IsResolved] [bit] NOT NULL,
	[ResolutionNotes] [nvarchar](2000) NULL,
	[ResolvedAt] [datetimeoffset](7) NULL,
	[ResolvedBy] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Orders] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[ClientOrderId] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[IsProcessed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Orders_ClientOrderId] UNIQUE NONCLUSTERED 
(
	[ClientOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[OutboxMessages] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutboxMessages](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](200) NOT NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ProcessedAt] [datetimeoffset](7) NULL,
	[RetryCount] [int] NOT NULL,
	[RetryReason] [int] NOT NULL,
	[LastError] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[QuarantinedOutboxMessages] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuarantinedOutboxMessages](
	[Id] [uniqueidentifier] NOT NULL,
	[OriginalOutboxMessageId] [uniqueidentifier] NOT NULL,
	[ClientOrderId] [uniqueidentifier] NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[Reason] [int] NOT NULL,
	[FinalRetryCount] [int] NOT NULL,
	[ErrorMessage] [nvarchar](2000) NULL,
	[QuarantinedAt] [datetimeoffset](7) NOT NULL,
	[IsResurrected] [bit] NOT NULL,
	[ResurrectedAt] [datetimeoffset](7) NULL,
	[IsDiscarded] [bit] NOT NULL,
	[DiscardedAt] [datetimeoffset](7) NULL,
	[DiscardedBy] [nvarchar](200) NULL,
	[ResolutionNotes] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[UnpublishedTopicMessages] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnpublishedTopicMessages](
	[Id] [uniqueidentifier] NOT NULL,
	[ClientOrderId] [uniqueidentifier] NOT NULL,
	[OrderStatus] [int] NOT NULL,
	[ProcessedAt] [datetimeoffset](7) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[PublishedAt] [datetimeoffset](7) NULL,
	[RetryCount] [int] NOT NULL,
	[LastError] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Indexes ******/
CREATE NONCLUSTERED INDEX [IX_DeadLetterLogs_ClientOrderId] ON [dbo].[DeadLetterLogs]
(
	[ClientOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_DeadLetterLogs_CreatedAt] ON [dbo].[DeadLetterLogs]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_DeadLetterLogs_IsResolved] ON [dbo].[DeadLetterLogs]
(
	[IsResolved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_Orders_Status] ON [dbo].[Orders]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [UX_Orders_ClientOrderId] ON [dbo].[Orders]
(
	[ClientOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_OutboxMessages_Unprocessed] ON [dbo].[OutboxMessages]
(
	[CreatedAt] ASC
)
INCLUDE([Type],[Payload]) 
WHERE ([ProcessedAt] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_QuarantinedOutboxMessages_ClientOrderId] ON [dbo].[QuarantinedOutboxMessages]
(
	[ClientOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_QuarantinedOutboxMessages_OriginalOutboxMessageId] ON [dbo].[QuarantinedOutboxMessages]
(
	[OriginalOutboxMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_UnpublishedTopicMessages_ClientOrderId] ON [dbo].[UnpublishedTopicMessages]
(
	[ClientOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

/****** Default Constraints ******/
ALTER TABLE [dbo].[DeadLetterLogs] ADD DEFAULT ((0)) FOR [IsResolved]
GO

ALTER TABLE [dbo].[Orders] ADD CONSTRAINT [DF_Orders_IsProcessed] DEFAULT ((0)) FOR [IsProcessed]
GO

ALTER TABLE [dbo].[OutboxMessages] ADD DEFAULT ((0)) FOR [RetryCount]
GO

ALTER TABLE [dbo].[OutboxMessages] ADD DEFAULT ((0)) FOR [RetryReason]
GO

ALTER TABLE [dbo].[QuarantinedOutboxMessages] ADD DEFAULT (newid()) FOR [Id]
GO

ALTER TABLE [dbo].[QuarantinedOutboxMessages] ADD DEFAULT ((0)) FOR [IsResurrected]
GO

ALTER TABLE [dbo].[QuarantinedOutboxMessages] ADD DEFAULT ((0)) FOR [IsDiscarded]
GO

ALTER TABLE [dbo].[UnpublishedTopicMessages] ADD DEFAULT (newid()) FOR [Id]
GO

ALTER TABLE [dbo].[UnpublishedTopicMessages] ADD DEFAULT ((0)) FOR [RetryCount]
GO

PRINT 'TradingApp database created successfully!'
GO